.clock-section {
    padding-top: 28px;
    @media screen and (min-width: 1400px) {
        margin-top: 475px;
        padding: 133px 0 189px 0;
        padding-top: 133px;
    }
    @media screen and (min-width: 1460px) {
        margin-top: 560px;
    }
    @media screen and (min-width: 1535px) {
        margin-top: 580px;
    }
    @media screen and (min-width: 1620px) {
        margin-top: 630px;
    }
    @media screen and (min-width: 1720px) {
        margin-top: 700px;
    }
    @media screen and (min-width: 1800px) {
        margin-top: 760px;
    }
    // @media screen and (min-width: 1840px) {
    //     margin-top: 730px;
    // }
    @media screen and (min-width: 1900px) {
        margin-top: 780px;
    }
    @media screen and (min-width: 2000px) {
        margin-top: 860px;
    }
    @media screen and (min-width: 2050px) {
        margin-top: 960px;
    }
    .clock {
        margin: 0 auto;
        width: 280px;
        height: 280px;
        background-position: center;
        z-index: 2;
        background: url("../images/Group63.png") no-repeat;
        position: relative;
        @media screen and (min-width: 1400px) {
            width: 414px;
            height: 414px;
            background: url("../images/Group464.png") no-repeat;
        }
    }
    .clock-face {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-3px);
        .clock-buble {
            z-index: 20;
            width: 100%;
            height: 100%;
            position: absolute;
            background: url("../images/Group632.png") 50% no-repeat;
            @media screen and (min-width: 1400px) {
                background: url("../images/Group457.png") 50% no-repeat;
            }
        }
        .hand {
            position: absolute;
            border-radius: 20px;
            background: #786e79;
            transform-origin: 100%;
            transform: rotate(90deg);
            transition: all 0.5s;
            transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
        }
        .hour-hand {
            transition: all 0.9s;
            top: 49%;
            left: 17%;
            width: 93px;
            height: 17px;
            @media screen and (min-width: 1400px) {
                top: 48%;
                left: 27%;
                width: 95px;
                height: 25px;
            }
        }
        .minute-hand {
            transition: all 0.9s;
            width: 102px;
            height: 13px;
            top: 47%;
            left: 14%;
            @media screen and (min-width: 1400px) {
                top: 49%;
                left: 20%;
                width: 125px;
                height: 19px;
            }
        }
    }
    .numeral-clock {
        padding: 20px 0 40px 0;
        margin: 0 auto;
        width: 280px;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 1400px) {
            width: 640px;
        }
        .numeral-clock_time {
            width: 63px;
            height: 96px;
            border-radius: 20px;
            border: 7px solid #f59393;
            background: #daeaef;
            font-size: 72px;
            line-height: 84px;
            text-align: center;
            color: #655d66;
            @media screen and (min-width: 1400px) {
                width: 143px;
                height: 192px;
                border: 15px solid #f59393;
                border-radius: 30px;
                font-size: 144px;
                line-height: 169px;
            }
        }
    }
}
